@model Formularz.Models.Dane
@{
    ViewData["Title"] = "Wynik";
}

<h1>Wynik</h1>
Potwierdzam Twoje dane<br/>
Imie: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email: @Model.Email
<br />
Hasło: @Model.Haslo
<br />
Numer Telefonu: @Model.NumerTelefonu
<br />
Wiek: @Model.Wiek
<br />
Miasto: @Model.Miasto